Домашняя работа
Easy
Скачать данные отсюда (кнопка download all снизу):

https://www.kaggle.com/c/titanic/data

Это данные о пассажирах Титаника и информация о том, кто выжил, а кто нет. Будем анализировать файл train.csv.

Необходимо прочитать файл, посчитать процент детей (младше 18 лет), соотношение мужчин/женщин на борту

Normal
Посчитать по скольким людям нет информации (пола или возраста)

Вывести гистограмму по возрасту пассажиров

Посчитать какой процент мужин и женщин выжили, какой процент детей выжили.

Посчитать корреляцию между возрастом и выживаемостью, полом и выживаемостью

Hard
Сделав вывод по данным, написать простейшую модель, которая будет определять по входным данным, выжил ли человек. Проверить свою гипотезу на данных train.csv, оценить успешность модели. Прогнать модель на файле test.csv

Загрузить решение на kaggle.

Решение представляет из себя файл с 2 колонками: PassengerId и Survived. Id пассажиров и их данные нужно брать из файла test.csv.

In [40]:
# Easy

# 1
import pandas as pd
titanic = pd.read_csv('train.csv')
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [47]:
# Находим процент детей на Титанике
mean1 = len(titanic['Age'])
mean1

891

In [46]:
mean2 = len(titanic[titanic['Age'] < 18])
mean2

113

In [65]:
print(mean2 / mean1 * 100, '%')

12.682379349046016 %

In [68]:
# Но если убрать значения там, где возраст неизвестен:

titanic_Age = titanic['Age']
titanic_AgeDrop = titanic_Age.dropna()

mean1_Drop = len(titanic_AgeDrop)
mean1_Drop

714

In [69]:
mean2 = len(titanic[titanic['Age'] < 18])
mean2

113

In [70]:
print(mean2 / mean1_2 * 100, '%')

15.826330532212884 %

In [73]:
# Находим соотношение мужчин и женщин на борту

titanic_Men = len(titanic[titanic['Sex'] == 'male'])
titanic_Men

577

In [74]:
titanic_Women = len(titanic[titanic['Sex'] == 'female'])
titanic_Women

314

In [75]:
print(titanic_Men / titanic_Women)

1.8375796178343948